@import vars
@import fonts
@import libs

::placeholder
	color: 898989

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6
	margin-top: 0
	margin-bottom: .5rem
	font-family: $heading-font
	font-weight: bold
	line-height: 1.2

h1,.h1
	font-size: 3.125em
	font-weight: 800
	text-transform: uppercase

h2,.h2
	font-size: 2.25em
	margin-bottom: 1em

h4,.h4
	font-size: 1.5em

h5,.h5
	font-size: 1.25em

h6,.h6
	font-size: 1.125em
a
	transition: $trans3
	color: $accent
button
	&:focus
		outline: none
p
	line-height: 1.2
	//font-size: 1.0625em
	&.intro
		font-size: 1.25em
		max-width: 740px
		margin: -35px auto 2.5em
.text-center
	text-align: center
.heading-line
	text-align: center
	position: relative
	padding-bottom: .7em
	margin-bottom: 2em
	&:after
		content: ''
		display: inline-block
		width: 5em
		border-bottom: solid 5px $accent
		position: absolute
		bottom: 0
		left: 50%
		margin-left: -2.5em
.list-unstyle, .list-inline
	list-style-type: none
	padding-left: 0
	margin-bottom: 0
.list-inline
	li
		display: inline-block

// Custom Sass / Remove before use

.container, .container-fluid
	padding:
		right: $gutter/2
		left: $gutter/2
.container-fluid
	width: 100%
.container
	max-width: 1170px		
	margin:
		left: auto
		right: auto
.img-responsive
	display: block
	max-width: 100%
	height: auto

.grid
	display: grid
	grid-gap: $gutter
	&.reverse
		grid-auto-flow: dense
		.text-wrap
			grid-column: 2
	&.col-3-auto
		grid-template-columns: repeat(3,1fr)
	&.col-4-auto
		grid-template-columns: repeat(4,1fr)
	&.col-1-1
		grid-template-columns: 1fr 1fr
	&.col-1-2
		grid-template-columns: 1fr 2fr
	&.col-2-1
		grid-template-columns: 2fr 1fr
	&.col-1-2-1
		grid-template-columns: 1fr 2fr 1fr
	&.col-auto
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr))
	&.col-5-7
		grid-template-columns: 35% 63%
	&.acc
		align-content: center
	&.aic
		align-items: center
	&.gap-30
		grid-gap: 30px
	&.gap-40
		grid-gap: 40px
	
	+media-breakpoint-down(xs)
		display: block
		> div
			padding: $gutter/2 0

.flex
	display: flex
	&.jcsb
		justify-content: space-between
	&.aic
		align-items: center
	&.jcsa
		justify-content: space-around
.example-img
	width: 100%

.parent // Lazy Load Placeholder Generator: https://webdesign-master.ru/services/lazy/
	background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)

.bg-gray
	background-color: #FBFBFB

.mb-30
	margin-bottom: 30px

@keyframes pulse-white
	0%
		box-shadow: 0 0 0 0 rgba(#fff, .6)
	70%
		box-shadow: 0 0 0 20px rgba(#fff, 0)
	100%
		box-shadow: 0 0 0 0 rgba(#fff, 0)

@keyframes pulse-accent
	0%
		box-shadow: 0 0 0 0 rgba(#399BE0, .6)
	70%
		box-shadow: 0 0 0 20px rgba(#399BE0, 0)
	100%
		box-shadow: 0 0 0 0 rgba(#399BE0, 0)

//HEADER//
.header
	position: relative
	background: #fff
	box-shadow: inset 0 -1px 0 #EAEAEA
	padding: 22px 0
	z-index: 99
	.logo
		width: 31%
		a
			display: inline-block
	.contact
		color: #3b3b3b
		width: 24%
	.phone
		a
			color: inherit
			font-weight: bold
			font-size: 1.375em
			&:hover
				text-decoration: none
		.dropdown-menu
			margin-left: -15px
	.address
		width: 20%
.top-line
	font-style: italic
	line-height: 1.15
.icon
	padding-left: 47px
	position: relative
	a
		color: $text
		&:hover
			text-decoration: none
			color: $accent
	&:before
		content: ''
		display: inline-block
		position: absolute
		left: 0
		top: 50%
		+transform(0, -50%)
		width: 31px
		height: 30px
		background-image: url(../img/icon-sprite.png)
		background-repeat: no-repeat
		background-size: cover
	&.address
		&:before
			background-position: -34px 0
	&.email
		&:before
			background-position: -65px 0
	&.time
		&:before
			background-position: -101px 0
.icon-box
	position: absolute
	right: 50px
	bottom: 50px
	display: flex
	z-index: 10
.icon-circle
	border-radius: 100%
	background: #399BE0
	width: 120px
	height: 120px
	padding: 18px
	text-align: center
	line-height: 1.2
	font-size: .8125em
	color: #fff
	animation: pulse-accent 2s infinite
	&:hover
		text-decoration: none
		animation: none
	&.gauge
		background: #fff
		color: $text
		animation: pulse-white 2s infinite
		.ico
			background-position: -45px 0
	.ico
		display: inline-block
		width: 44px
		height: 44px
		background-image: url(../img/header-sprite.png)
		background-repeat: no-repeat
		margin-bottom: 10px
	&+.icon-circle
		margin-left: 25px

.navbar
	position: absolute
	top: 100%
	width: 100%
	left: 0
	background: #fff
	&.stuck
		position: fixed
		top: 0
	ul
		list-style-type: none
		margin-bottom: 0
		padding-left: 0
.navbar-nav
	>li
		display: inline-block
		font-family: $heading-font
		font-weight: bold
		text-transform: uppercase
		font-size: .9375em
		&:not(:last-child)
			margin-right: 20px
		&.active
			>a
				color: $text
				&:after
					content: ''
					display: inline-block
					width: 100%
					border-bottom: solid 3px $accent
					position: absolute
					bottom: 0
					left: 0
	a
		display: inline-block
		vertical-align: middle
		color: #555
		position: relative
		padding: 15px 0
		white-space: nowrap
		&:hover
			text-decoration: none
			color: $text
	.dropdawn-menu
		min-width: 180px
	
.dropdown
	position: relative
	a
		vertical-align: middle
	&:hover
		.dropdown-menu
			opacity: 1
			visibility: visible
			top: 100%
.cover
	display: inline-block
	border-color: $arrow transparent transparent transparent
	border-width: 7px 4px 0 4px
	border-style: solid
	width: 0
	height: 0
	vertical-align: middle
	margin-left: 3px
.dropdown-menu
	position: absolute
	min-width: 100%
	max-width: 150%
	padding: 5px 0
	background: #fff
	top: 75%
	box-shadow: 0 6px 24px rgba(#c5c5c5, .27)
	border-radius: 0 0 5px 5px
	opacity: 0
	visibility: hidden
	transition: $trans2
	li
		&.active
			a
				background: rgba($accent, .1)
				color: $text
	a
		display: block
		padding: 5px 15px
		&:hover
			background: rgba($accent, .1)

//SLIDER//
.main-slider
	position: relative
	margin-bottom: 120px
	.item
		position: relative
	.item-content
		position: absolute
		width: 100%
		height: 100%
		left: 0
		top: 0
		padding-top: 135px
		.btn-lg
			padding: 25px 30px
			min-width: 360px
	.description
		font-size: 1.375em
		opacity: .7
		line-height: 1.2
		margin-bottom: 35px
	.h1
		margin-bottom: .4em
	.advantages
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		z-index: 10
		margin-bottom: -45px
		.flex
			background-color: #fff
			box-shadow: 0 6px 24px rgba(#c5c5c5, .27)
			border-radius: 5px
			padding: 20px
.spec-icon
	width: 60px
	margin: 0 auto 18px
	height: 63px
	background-image: url(../img/spec_icon-sprite.png)
	background-repeat: no-repeat
	background-size: cover
.advantages
	margin-bottom: 40px
	.item
		width: 180px
		text-align: center
		&:nth-child(2)
			.spec-icon
				background-position: -72px 0
				&.key
					background-position: -535px 0
		&:nth-child(3)
			.spec-icon
				background-position: -152px 0
		&:nth-child(4)
			.spec-icon
				background-position: -230px 0
		.spec-icon
			&.door
				background-position: -607px 0
	.spec-icon
		background-position: 3px 0
	.title
		font-size: 1.125em
		font-style: italic
		line-height: 1.2
//CONTENT//
.content-wrapper
	padding-top: 54px
.section
	padding: 60px 0
.services
	.grid
		grid-gap: 30px
	.item
		color: inherit
		&:hover
			text-decoration: none
			color: $accent
			+transform(0, -25px)
	.bg-image
		padding-top: 68%
		background-repeat: no-repeat
		background-size: cover
		border-radius: 5px
		margin-bottom: 22px

.production
	background-repeat: no-repeat
	background-size: auto 92%
	background-position: right 70% center
	&.visible
		//background-image: url(../img/production_bg.png)
	.grid
		>div
			grid-column-start: 2
			padding: 26px 0
	li
		max-width: 150px
		line-height: 1.2
		padding-top: 30px
		padding-bottom: 30px
		&:nth-child(2)
			.spec-icon
				background-position: -369px 0
		&:nth-child(3)
			.spec-icon
				background-position: -442px 0
	.spec-icon
		height: 61px
		background-position: -295px 0
.brands
	.grid
		align-items: center
	.h2
		margin-bottom: 0
		span
			color: $accent
.brand-list
	padding: 0 10px 0 30px
	.item
		border: 1px solid #E4E9F6
		padding: 15px
		.owl-dots
			padding-top: 15px
.owl-carousel
	&.carousel
		.owl-dots
			text-align: center
		button
			&.owl-dot
				display: inline-block
				width: 9px
				height: 9px
				background: $accent
				opacity: .5
				border-radius: 10em
				margin: 7px
				transition: $trans3
				&.active
					opacity: 1
					transform: scale(1.333)
		
.reviews
	.item
		border-radius: 5px
		padding: 40px 25px
		background: #fff
		transition: $trans3
	.owl-item
		padding: 16px 0 24px
		&.center
			.item
				box-shadow: 0 6px 24px rgba(#c5c5c5, .27)
	.user-icon
		width: 27%
		line-height: 1.2		
	.avatar
		width: 110px
		height: 110px
		border-radius: 100%
		overflow: hidden
		margin: 0 auto 20px
	.org
		margin-bottom: 20px
	.review
		width: 100%
		padding: 0 30px
		.h5,h5
			min-height: 3.5em
	.owl-carousel
		.owl-nav
			position: absolute
			width: 50%
			top: 50%
			left: 50%
			+transform(-50%, -50%)
			display: flex
			justify-content: space-between
			button
				width: 80px
				height: 80px
				&:hover
					.arrow-left-lg,.arrow-right-lg
						&:before, &:after
							background: $accent
							opacity: 1

.zoom-gallery
	padding: 40px 25px 0
	&.grid
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr))
		grid-gap: 50px

.contact-block
	.h6
		font-family: $default-font
		margin-bottom: 0
	.icon
		font-weight: bold
	ul
		display: flex
		flex-direction: column
		justify-content: space-between
	.contact
		.h6
			font-size: 1.5em

.stock
	color: $text
	display: block
	border-radius: 6px
	overflow: hidden
	box-shadow: 0 0 0 1px #E4E9F6
	margin-bottom: 30px
	&:hover
		color: $text
		text-decoration: none
		box-shadow: 0 3px 32px rgba(#c1c1c1, .49)
	.thumbnail
		background-position: center
		min-height: 260px
		background-repeat: no-repeat
	.text-block
		padding: 15px
		.h4
			text-transform: uppercase
			margin-bottom: 1.1em
	.description
		font-size: 1.125em
		line-height: 1.2
		margin-bottom: 1em
	.note
		color: #898989

.products
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr))
	grid-gap: 30px
	.product
		text-align: center
		background: #fff
		padding: 22px 15px 0
		transition: $trans3
		position: relative
		&:before
			content: ''
			position: absolute
			background: #fff
			top: 0
			left: 0
			height: 100%
			width: 100%
			transition: $trans3
			box-shadow: 0 0 0 1px #f8f8f8
			border-radius: 6px
			z-index: -1
		&:hover
			+transform(0, -30px)
			z-index: 10
			&:before
				box-shadow: -3px -3px 29px rgba(#000, .15)
				height: 120%
			.product-footer
				opacity: 1
		.thumb
			display: inline-block
			margin: 0 auto
		.product-body
			padding: 30px 15px 20px
		.title
			display: inline-block
			font-weight: bold
			font-size: .875em
			color: $text
			line-height: 1.2
			&:hover
				color: $accent
				text-decoration: none
		.price
			font-weight: bold
			font-size: 1.125em
		.product-footer
			position: absolute
			left: 0
			width: 100%
			opacity: 0
			transition: $trans3
		.btn
			font-size: .875em

.goods
	.item
		text-align: center
		position: relative
	.h5
		text-transform: uppercase
		margin-bottom: 30px
	.thumb
		min-height: 330px
		img
			margin: 0 auto
	.product-label
		position: absolute
		top: 40px
		right: 0
		background: $accent
		color: #fff
		font-family: $heading-font
		font-weight: bold
		padding: 10px 15px
.shema-wrap
	position: relative
	margin-bottom: 70px
	img
		margin: 0 auto
	.pointer
		font-size: 1.25em
		line-height: 1.2
		position: absolute
		padding: 0 20px
		i
			display: block
			position: absolute
			top: 50%
			width: 100%
			height: 3px
			background: lighten($accent, 30%)
			&:before
				content: ''
				position: absolute
				width: 8px
				height: 8px
				border-radius: 50%
				background: inherit
				top: 50%
				margin-top: -4px
	.left
		left: 50%
		margin-left: -480px
		text-align: right
		i
			left: 100%
			transform-origin: left
			&:before
				left: 100%
		&:nth-of-type(1)
			top: 50px
			i
				transform: rotate(-22deg)
		&:nth-of-type(2)
			top: 50%
			margin-top: -20px
		&:nth-of-type(3)
			bottom: 50px
			i
				transform: rotate(15deg)
			
	.right
		left: 50%
		margin-left: 250px
		i
			right: 100%
			transform-origin: right
			&:before
				right: 100%
		&:nth-of-type(1)
			top: 50px
			i
				transform: rotate(-22deg)
				width: 60%
		&:nth-of-type(2)
			top: 50%
			margin-top: -20px

	strong
		display: block
		font-size: 1.2em
		text-transform: uppercase

			
.map
	height: 560px
	position: relative
	.contact-block
		position: absolute
		background: #fff
		top: 80px
		left: 50%
		margin-left: -570px
		padding: 50px 30px
		box-shadow: 0 6px 24px rgba(#c5c5c5, .27)
		.icon
			line-height: 1.2
			margin-bottom: 40px
			&:before
				height: 28px
				background-position: 2px 0
			&.address
				&:before
					background-position: -29px 0
			&.email
				a
					font-style: italic
					color: $accent
					text-decoration: underline
				&:before
					background-position: -60px 0

	#map-canvas
		min-height: 100%

.footer
	padding: 25px 0
	.copyright
		color: #898989
		font-size: .625em
	.privaci
		font-size: .75em
		text-align: right

//BUTTON//
.btn
	display: inline-block
	padding: 15px 30px
	min-width: 210px
	border: none
	border-radius: 5px
	font-family: $default-font
	font-size: .8125em
	font-weight: bold
	font-style: italic
	text-decoration: none
	text-align: center
	outline: none
	cursor: pointer
	transition: $trans3
	color: $text
	&.btn-danger
		color: red
		&:hover
			background: none
	&.btn-default
		color: $text
		background: linear-gradient(to bottom, #ffd83b, #FFCC00)
		position: relative
		font-size: .875em
		box-shadow: 0 -3px 16px rgba(#f3d02c, .35)
		&:after, &:before
			content: ''
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			border-radius: 5px
			transition: $trans3
		&:after
			height: 20px
			box-shadow: 0 3px 0 #DBBC2A
		&:before
			height: 100%
			background: darken(#FFCC00, 5%)
			opacity: 0
		&:hover
			box-shadow: 0 -3px 26px rgba(#f3d02c, .5)
			&:before
				opacity: 1
		span
			position: relative
			z-index: 10
	&:focus, &:hover
		text-decoration: none
	&:hover
		background-color: darken($accent2, 5%)
		color: $text
	&:active
		background-color: darken($accent2, 5%)
		top: 3px
		&:after
			box-shadow: 0 0px 0 #DBBC2A
	+ .btn
		margin-Top: 10px
	+ .btn-sky
		margin-Top: 10px
	&.btn-lg
		font-size: 1.25em
		padding: 18px 30px
		min-width: 260px
		border-radius: 10px
		&:after, &:before
			border-radius: 10px
		&:after
			box-shadow: 0 5px 0 #DBBC2A

	&.btn-block
		display: block
		width: 100%
	&.btn-close
		background: transparent
		padding: 5px	
	&.btn-gray
		padding: 15px 30px
		background: #f9f9f9
		font-size: 1em
		font-weight: normal
		&:hover
			background: darken(#f9f9f9, 5%)
.btn-line
	display: inline-block
	color: #252525
	border: 1px solid $accent-line
	padding: 5px 15px
	border-radius: 5px
	position: relative
	&:hover
		text-decoration: none
		background: darken(#fff, 10%)
		color: #252525
	i
		font-size: 80%
		position: relative
		top: -1px
	&.btn-more
		display: block
.no-gutters-10
	margin-right: -10px
	margin-Top: -10px
	>.col, [class*=col-]
		padding-right: 10px
		padding-Top: 10px
.arrow-right-tail, .arrow-right-longtail
	display: inline-block
	position: relative
	width: 24px
	height: 2px
	background: $arrow
	border-radius: 2px
	vertical-align: middle
	&:before,&:after
		content: ''
		display: inline-block
		position: absolute
		width: 50%
		height: 2px
		right: 0
		background: $arrow
		border-radius: 3px
.arrow-right-tail
	margin-right: 20px
	&:before
		transform: rotate(-45deg) translate3d(-3px,4px,0)
	&:after
		transform: rotate(45deg) translate3d(-3px,-4px,0)
.arrow-right-longtail
	height: 1px
	background: $text
	margin-left: 20px
	width: 40px
	&:before,&:after
		background: $text
		height: 1px
		width: 22%
	&:before
		transform: rotate(-45deg) translate3d(0px,4px,0)
	&:after
		transform: rotate(45deg) translate3d(0px,-4px,0)
.arrow-right-lg, .arrow-left-lg
	display: inline-block
	position: relative
	width: 40px
	height: 3px
	background: transparent
	border-radius: 2px
	vertical-align: middle
	&:before,&:after
		content: ''
		display: inline-block
		position: absolute
		width: 100%
		height: 3px
		left: 0
		background: $arrow
		opacity: .5
		border-radius: 3px
		transition: $trans3
.arrow-right-lg
	&:before
		transform: rotate(-60deg) translate3d(-10px,16px,0)
	&:after
		transform: rotate(60deg) translate3d(-10px,-16px,0)
.arrow-left-lg
	&:before
		transform: rotate(60deg) translate3d(10px,16px,0)
	&:after
		transform: rotate(-60deg) translate3d(10px,-16px,0)
//FORM//

.triple
	box-shadow: 0 3px 24px rgba(#9b9b9b, .25)
	border-radius: 5px
	padding: 15px 60px
	margin-bottom: 60px
	position: relative
	>*
		position: relative
		z-index: 5
	&:before, &:after
		content: ''
		position: absolute
		left: 50%
		top: 50%
		+transform(-50%, -50%)
		box-shadow: 0 3px 24px rgba(#9b9b9b, .25)
		border-radius: 5px
		background: #fff
	&:before
		width: 98%
		height: 116%
	&:after
		width: 94.5%
		height: 134%
	.h5
		margin-bottom: 30px
	.form-control
		padding: 17px 20px
		font-size: .875em
	.agreement
		.checkbox
			font-size: .75em
			
.form-control
	display: block
	width: 100%
	padding: 20px 20px
	font-family: $default-font
	//font-size: 1.125em
	line-height: 1.5
	color: $text
	background-color: #fff
	background-clip: padding-box
	border: 1px solid $accent-line
	border-radius: 5px
	transition: $trans3
	&:focus
		border-color: $accent
		box-shadow: 0 3px 16px #f4f4f4
.invalid-feedback, .invalid-tooltip
	position: absolute
	top: 100%
	color: red
	left: 220px
	line-height: 1
	margin-top: 10px
.form-group
	position: relative
	margin-bottom: 15px
	>span.error
		position: absolute
		line-height: 1
		top: 100%
label
	font-weight: 600
	margin-bottom: .1rem
	display: inline-block
	&.checkbox
		font-weight: normal
	sup
		font-size: 100%
		top: -5px
		color: red
[class*=error]
	.error
		font-size: 80%
.checkbox
	margin-bottom: 4px
	padding-left: 27px
	font-size: 15px
	line-height: 27px
	cursor: pointer
	position: relative
	input
		position: absolute
		left: -9999px
		&:checked
			+ i
				border-color: #fff
				border-width: 2px
				background: $accent
	i
		width: 17px
		height: 17px
		border-width: 1px
		border-color: $accent-line
		border-style: solid
		position: absolute
		top: 5px
		left: 0
		display: block
		background: #fff
blockquote
	margin: 0 0 20px
	font-size: 1.09em
	border-Top: 2px solid $accent
	padding: 5px 15px
.input-group
	display: flex
	flex-wrap: wrap
	width: 100%
	align-items: stretch
	>.form-control
		width: 1%
		flex: 1 1 auto
textarea
	resize: none
	height: 228px

// POP-UP//

.white-popup
	position: relative
	width: auto
	max-width: 500px
	margin: 40px auto
	padding: 30px
	border-radius: 10px
	background: #fff
	text-align: center
	.wrap-forms 
		//padding: 0
		.form-group 
			textarea
				min-height: 90px
	.message
		text-align: center
		padding: 30px 15px
		font-size: 1.5em
	.h2
		margin-bottom: 1.1em
	.form-control
		padding: 12px
.white-popup-block
	max-width: 800px
	margin: 40px auto
	position: relative
	background: #fff
	form
		max-width: 900px
		margin: 0 auto
	.container-fluid
		max-width: 900px
.mfp-arrow
	&:before, &:after
		color: #fff
		font-size: 6.5em
		margin: 0
		border: none
	&:before
		font-family: FontAwesome
		width: auto
		height: auto
		line-height: 1
		left: 50%
		+transform(-50%, 0)
	&-right
		&:before
			content: '\f105'
	&-left
		&:before
			content: '\f104'
.mfp-image-holder
	.mfp-close
		right: -24px
		top: 10px

//====== Zoom effect ======//
.mfp-zoom-in
	.mfp-with-anim
		opacity: 0
		transition: $trans3
		transform: scale(0.8) 
	&.mfp-bg
		opacity: 0
		transition: $trans3
	&.mfp-ready
		.mfp-with-anim
			opacity: 1
			transform: scale(1) 
		&.mfp-bg
			opacity: 0.8
	&.mfp-removing
		.mfp-with-anim
			transform: scale(0.8) 
			opacity: 0
		&.mfp-bg
			opacity: 0

.mfp-fade
	&.mfp-bg
		opacity: 0
		transition: $trans3
		&.mfp-ready
			opacity: 0.8
		&.mfp-removing
			opacity: 0
	&.mfp-wrap 
		.mfp-content
			opacity: 0
			transition: $trans3
		&.mfp-ready 
			.mfp-content
				opacity: 1
		&.mfp-removing 
			.mfp-content
				opacity: 0
.mfp-with-zoom 
	.mfp-container, &.mfp-bg
		opacity: 0
		transition: $trans3
	&.mfp-ready 
		.mfp-container
			opacity: 1
		&.mfp-bg
			opacity: 0.8
	&.mfp-removing 
		.mfp-container, &.mfp-bg
			opacity: 0
.mfp-move-from-top
	.mfp-content
		vertical-align: middle
	.mfp-with-anim
		opacity: 0
		transition: $trans3
		+transform(0, -100px)
	&.mfp-bg
		opacity: 0
		transition: $trans3
	&.mfp-ready
		.mfp-with-anim
			opacity: 1
			+transform(0, 0)
		&.mfp-bg
			opacity: .8
	&.mfp-removing
		.mfp-with-anim
			+transform(0, -50px)
			opacity: 0
